# Python
__pycache__/
*/__pycache__/
*/*/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 虚拟环境
.env
.venv
ENV/

# IDE 文件
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# 日志文件
logs/
*.log

# 项目特定文件
backups/
*.sqlite
*.sqlite3
*.db
*.db-shm
*.db-wal
fingerprints/
turnstilePatch/
ItemTable.json 